
	<div class="item">
		<!-- 日期分类 -->
		<div class="mark" ng-show="
		loaded">{{date|date:'ddMMM'}}</div>
		<ul class="posts">
			<!-- 文章 -->
			<li ng-repeat="(index, post) in posts">
			<a href="#/older/{{index}}">
				<span href="javascript:;" class="tag" ng-if="post.column.name">{{post.column.name}}</span>
				<div class="cont">
					<h3>{{post.title}}</h3>
					<div class="brief">
						<!-- !=10003 -->
						<p ng-class="{only: post.display_style == 10001}" ng-if="post.display_style != 10003">{{post.abstract}}</p>
						<!-- 10002 -->
						<div class="thumb" ng-if="post.display_style == 10002">
							<img ng-src="{{post.thumbs[0].small.url}}" alt="">
						</div>
						<!-- 10003 -->
						<div class="gallery" ng-if="post.display_style == 10003">
							<div class="img-box" ng-repeat="thumb in post.thumbs">
								<img ng-src="{{thumb.small.url}}" alt="">
							</div>
						</div>
					</div>							
				</div>
			</a>
			</li>
		</ul>
	</div>