<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>moment</title>
	<style type="text/css">
		@charset "UTF-8";
		[ng\:cloak], 
		[ng-cloak],
		[data-ng-cloak],
		[x-ng-cloak],
		.ng-cloak,
		.x-ng-cloak,
		.ng-hide {
			display:none !important;
		}
		ng\:form {
			display:block;
		}
		.ng-animate-start {
			clip:rect(0,auto,auto,0);
			-ms-zoom:1.0001;
		}
		.ng-animate-active {
			clip:rect(-1px,auto,auto,0);
			-ms-zoom:1;
		}
	</style>
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body ng-app="Moment"  id="app">
	<div class="viewport">
		<!-- 侧边导航 -->
		<div id="navs" ng-class="{navs: true, collapse: collapsed}" ng-controller="NavController">
			<dl>
				<dt class="login">
					<div class="avatar">
						<img ng-src="./images/owner.png" alt="">
					</div>
					<span ng-cloak>登录</span>
				</dt>
				<dd ng-class="{active: index == key}" ng-repeat="(key, nav) in navs">
					<a href="{{nav.link}}" ng-click="toggle()" class="{{nav.icon}}">
						<span ng-cloak>{{nav.text}}</span>
					</a>
				</dd>
			</dl>
			<div class="extra">
				<a ng-cloak ng-href="javascript:;" class="icon-image">夜晚</a>
				<a ng-cloak ng-href="javascript:;" class="icon-download">离线</a>
			</div>
		</div>
		<!-- 视图区域 -->
		<div class="container">
			<!-- 头部 -->
			<!-- <div ng-class="{header: true, collapse: collapsed}"> -->
			<div ng-class="{header: true}">
				<a ng-cloak href="javascript:;" ng-click="toggle()" class="menu icon-menu" ng-show="menu"></a>
				<a ng-cloak href="" class="goback" ng-click="goBack()" ng-hide="menu"><</a>
				<h2 ng-cloak>{{title}}</h2>
				<a ng-cloak href="javascript:;" class="search icon-search" ng-show ="search"></a>
				<a ng-cloak href="javascript:;" class="search icon-bell" ng-show ="search"></a>
			</div>
			<!-- 主体 -->
			<!-- <div ng-class="{body: true, collapse: collapsed}"> -->
			<div ng-clock ng-class="{body: true}">
				<div loading class="loading" ng-hide="loaded" src="./images/loading.gif"></div>
				<!-- 占位符 -->
				<div ng-view>
					
				</div>
			</div>
		</div>
	</div>

	<div ng-class="{shadow : collapsed}" id="shadow" ng-click="hideShadow()">	
	</div>


	<script src="./lib/angular/angular.js"></script>
	<script src="./lib/angular-route/angular-route.js"></script>

	<!-- AngularJS入口 -->
	<script src="./js/app.js"></script>
	<!-- 控制器模块 -->
	<script src="./js/controllers.js"></script>
	<script src='./js/services.js'></script>
	<!-- 指令模块 -->
	<script src="./js/directives.js"></script>
</body>
</html>